{% extends 'base.html.twig' %}

{% block title %}Liste des Chantiers{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Tous les chantiers</h1>
        <a class="BtnEmploye" href="{{ path('app_chantier_new') }}">+ Créer un chantier</a>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Responsable</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chantier in chantiers %}
            <tr>
                <td>{{ chantier.id }}</td>
                <td>{{ chantier.nom }}</td>
                <td>{{ chantier.getChefDeChantier.getNom }}</td>
                <td>{{ chantier.dateDeDebut ? chantier.dateDeDebut|date('Y-m-d') : '' }}</td>
                <td>{{ chantier.dateDeFin ? chantier.dateDeFin|date('Y-m-d') : '' }}</td>
                <td>{{ chantier.numeroDeLaVoie }} {{ chantier.typeDeVoie }} {{ chantier.libelleDeLaVoie }}, {{ chantier.ville }}, {{ chantier.ville }}</td>
                <td>
                    <div class="ROW">
                        <a class="btn-preview" href="{{ path('app_chantier_show', {'id': chantier.id}) }}"><img class="btnListe" src="../Image/oeil.png"></a>
                        <a class="btn-edit" href="{{ path('app_chantier_edit', {'id': chantier.id}) }}"><img class="btnListe" src="../Image/modif.png"></a>
                        {{ include('chantier/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a aucun chantiers référencés pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
