{% extends 'base.html.twig' %}

{% block title %}Liste des Chantiers{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Tous les chantiers</h1>
        <a class="BtnEmploye" href="{{ path('app_chantier_new') }}">+ Créer un chantier</a>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Responsable</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Tâches</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chantier in chantiers %}
            <tr>
                <td>{{ chantier.id }}</td>
                <td>{{ chantier.nom }}</td>
                <td>{{ chantier.getChefDeChantier.getNom }}</td>
                <td>{{ chantier.dateDeDebut ? chantier.dateDeDebut|date('Y-m-d') : '' }}</td>
                <td>{{ chantier.dateDeFin ? chantier.dateDeFin|date('Y-m-d') : '' }}</td>
                <td>
                    <ul>
                        {% for tache in chantier.taches %}
                            <li>
                                {{ tache.description }} : {{ tache.duree }} 
                                jour{% if tache.duree > 1 %}s{% endif %} 
                                ({{ tache.statut }})
                            </li>
                        {% else %}
                            <li>Aucune tâche</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a class="btn-preview" href="{{ path('app_chantier_show', {'id': chantier.id}) }}">Voir</a>
                    <a class="btn-edit" href="{{ path('app_chantier_edit', {'id': chantier.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
