{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
    <div class="GridLogin">
        <div>
            <h1 class="TitleIndex">EDIFIS PRO</h1>
            <form class="FormLogin" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="TitleLogin">SE CONNECTER</h1>
                <label for="username">Email de l'utilisateur :</label><br>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="" autocomplete="email" required autofocus><br>
                <label for="password">Mot de passe :</label><br>
                <input type="password" name="_password" id="password" class="" autocomplete="current-password" required>

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as
                        {{ app.user.userIdentifier }},
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="gridCheckbox">
                    <input class="inputCheckbox" type="checkbox" name="_remember_me" id="_remember_me">
                    <label class="labelCheckbox" for="_remember_me">Se souvenir de moi</label>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <br>
                <button type="submit">Se connecter </button>
            </form>
        </div>

        <div class="ImageLogin">
            <img src="../Image/Logo.png">
        </div>
    </div>




{% endblock %}
