{% extends 'base.html.twig' %}

{% block title %}Edit Tache{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Modification de la tâche</h1>
        <a class="BtnEmploye" href="{{ path('app_tache_index') }}">Retour à la liste des tâches</a>
    </div>
    {{ form_start(form) }}
    <div class="FormNewEmploye gridCol2">
        <div>
            {{ form_row(form.description) }}
            {{ form_row(form.statut) }}
            {{ form_row(form.duree) }}
        </div>
        <div>
            {{ form_row(form.chantier) }}
            {{ form_row(form.employes) }}
        </div>
        <button class="BtnSubmit">{{ button_label|default('Mettre à jour') }}</button>
    </div>
    {{ form_end(form) }}
    
{% endblock %}
