{% extends 'base.html.twig' %}

{% block title %}New Tache{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Ajouter une tâche</h1>
        <a class="BtnEmploye" href="{{ path('app_tache_index') }}">Retour à la liste des tâches</a>
    </div>


{% for flashMessage in app.flashes('warning') %}

    <div class="alert alert-warning" role="alert">
        {{ flashMessage }}
    </div>
{% endfor %}
    {{ form_start(form) }}
    <div class="FormNewEmploye gridCol2">
    <div>
        {{ form_row(form.description) }}
        {{ form_row(form.statut) }}
        {{ form_row(form.duree) }}
    </div>
    <div>
        {{ form_row(form.chantier) }}
        {{ form_row(form.employes) }}
    </div>
        <button class="BtnSubmit">{{ button_label|default('Ajouter la tâche') }}</button>
    </div>
    {{ form_end(form) }}



{% endblock %}