{% extends 'base.html.twig' %}

{% block title %}Tache{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Tâche</h1>
        <a class="BtnEmploye" href="{{ path('app_tache_index') }}">Retour à la liste des tâches</a>
        <a href="{{ path('app_tache_edit', {'id': tache.id}) }}"><img class="btnListe btnListeModifView" src="../../Image/modif.png"></a>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tache.description }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ tache.statut }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ dureeFormatee }}</td>
            </tr>
            <tr>
                <th>Date de fin prévue</th>
                <td>{{ fin_prevue }}</td>
            </tr>
        </tbody>
    </table>




{% endblock %}
