{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.telephone }}</td>
                <td>
                    <a class="btn-edit" href="{{ path('app_client_show', {'id': client.id}) }}">voir</a>
                    <a class="btn-preview" href="{{ path('app_client_edit', {'id': client.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn-link" href="{{ path('app_client_new') }}">Nouvelle fiche client</a>
{% endblock %}
