{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Client - {{ client.nom }}</h1>
        <a class="BtnEmploye" href="{{ path('app_client_index') }}">Retour à la liste des clients</a>
        <a class="btn-link" href="{{ path('app_client_edit', {'id': client.id}) }}"><img class="btnListeModifView btnListe" src="../../Image/modif.png"></a>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
