{% extends 'base.html.twig' %}

{% block title %}Liste des employes{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Employés</h1>
        <a class="BtnEmploye" href="{{ path('app_employe_new') }}">+ Ajouter un employé</a>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Chef de chantier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>{{ employe.id }}</td>
                <td>{{ employe.nom }}</td>
                <td>{{ employe.prenom }}</td>
                <td>{{ employe.telephone }}</td>
                <td>{{ employe.estChefDeChantier ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn-preview" href="{{ path('app_employe_show', {'id': employe.id}) }}" class="btn btn-info btn-sm">montrer</a>
                    <a class="btn-edit" href="{{ path('app_employe_edit', {'id': employe.id}) }}" class="btn btn-info btn-sm">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
