{% extends 'base.html.twig' %}

{% block title %}Liste des employes{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Employés</h1>
        <a class="BtnEmploye" href="{{ path('app_employe_new') }}">+ Ajouter un employé</a>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Prof.</th>
                <th>Chef de chantier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>{{ employe.id }}</td>
                <td>{{ employe.nom }}</td>
                <td>{{ employe.prenom }}</td>
                <td>{{ employe.telephone }}</td>
                <td>{{ employe.getMetier.getLabel }}</td>
                <td>{{ employe.estChefDeChantier ? 'Oui' : 'Non' }}</td>
                <td>
                    <div class="ROW">
                        <a class="btn-preview" href="{{ path('app_employe_show', {'id': employe.id}) }}" class="btn btn-info btn-sm"><img class="btnListe" src="../Image/oeil.png"></a>
                        <a class="btn-edit" href="{{ path('app_employe_edit', {'id': employe.id}) }}" class="btn btn-info btn-sm"><img class="btnListe" src="../Image/modif.png"></a>
                        {{ include('employe/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a aucun employés référencés pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
