{% extends 'base.html.twig' %}

{% block title %}Employé{% endblock %}

{% block body %}
    <div class="ROW">
        <h1 class="TitlePage">Employé</h1>
        <a class="BtnEmploye" href="{{ path('app_employe_index') }}">Retour à la liste des employés</a>
        <a href="{{ path('app_employe_edit', {'id': employe.id}) }}"><img class="btnListe btnListeModifView" src="../../Image/modif.png"></a>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ employe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employe.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ employe.prenom }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ employe.telephone }}</td>
            </tr>
            <tr>
                <th>Chef de chantier</th>
                <td>{{ employe.estChefDeChantier ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
