{% extends 'base.html.twig' %}

{% block title %}Employé{% endblock %}

{% block body %}
    <h1>Employé</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ employe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employe.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ employe.prenom }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ employe.telephone }}</td>
            </tr>
            <tr>
                <th>Prof.</th>
                <td>{{ employe.getMetier.getLabel }}</td>
            </tr>
            <tr>
                <th>Chef de chantier</th>
                <td>{{ employe.estChefDeChantier ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employe_index') }}">Retour à la liste</a>

    <a href="{{ path('app_employe_edit', {'id': employe.id}) }}">Modifier</a>

    {{ include('employe/_delete_form.html.twig') }}
{% endblock %}
