{% extends 'HeaderSuperAdmin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="dashboardContainer">
        <div class="dashboard">

                <div class="card">
                    <h2>Nombre d’employés</h2>
                    <p>{{ nombreEmployes }}</p>
                </div>
                <div class="card black">
                    <h2>Chantiers terminés</h2>
                    <p>{{ chantiersTermines }}</p>
                </div>
                <div class="card">
                    <h2>Chantiers en cours</h2>
                    <p>{{ chantiersEnCours }}</p>
                </div>
                <div class="card black">
                    <h2>Chantiers pas commencés</h2>
                    <p>{{ chantiersPasCommences }}</p>
                </div>

        </div>

        <div class="user-info">
            <h2>MA FICHE</h2>
            <div class="user-details">
                <p><strong>Email :</strong> {{ user.getUserIdentifier() }}</p>
            </div>
            <br>
            <hr>
            <div class="user-role">
                <h3>MÉTIER</h3>
                <br>
                {% if 'ROLE_SUPER_ADMIN' in user.getRoles() %}
                    <p class="role red">ADMINISTRATEUR</p>
                {% elseif 'ROLE_USER' in user.getRoles() %}
                    <p class="role">Utilisateur</p>
                {% else %}
                    <p class="role">Rôle inconnu</p>
                {% endif %}
            </div>
            <br>
            <hr>
            <div class="user-options">
                <h3>OPTIONS</h3>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <br>
                <a href="{{ path('app_logout') }}" class="logout-button">SE DÉCONNECTER</a>
            </div>
        </div>
    </div>
{% endblock %}
