{% extends 'HeaderSuperAdmin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="dashboardContainer">
    <div class="dashboard">

        {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
        <div class="card">
            <a class="a-detail" href="{{ path('app_user_index') }}">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                </svg>
            </a>
            <h2>Employés RH</h2>
            <p>{{ nombreUser }}</p>
        </div>
        {% endif %}
        <div class="card">
            <a class="a-detail" href="{{ path('app_employe_index') }}">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                </svg>
            </a>
            <h2>Employés</h2>
            <p>{{ nombreEmployes }}</p>
        </div>
        <div class="card">
            <a class="a-detail" href="{{ path('app_chantier_termine') }}">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                </svg>
            </a>
            <h2>Chantiers terminés</h2>
            <p>{{ chantiersTermines }}</p>
        </div>
        <div class="card">
            <a class="a-detail" href="{{ path('app_chantier_en_cours') }}">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                </svg>
            </a>
            <h2>Chantiers en cours</h2>
            <p>{{ chantiersEnCours }}</p>
        </div>
        <div class="card">
            <a class="a-detail" href="{{ path('app_chantier_a_venir') }}">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                </svg>
            </a>
            <h2>Chantiers à venir</h2>
            <p>{{ chantiersPasCommences }}</p>
        </div>

    </div>

    <div class="user-info">
        <h2>MA FICHE</h2>
        <div class="user-details">
            <p>
                <strong>Nom :</strong>
                {{user.getNom()}}
            </p>
            <p>
                <strong>Prenom :</strong>
                {{user.getPrenom()}}
            </p>
        </div>
        <br>
        <hr>
        <div class="user-role">
            <h3>MÉTIER</h3>
            <br>
            {% if 'ROLE_SUPER_ADMIN' in user.getRoles() %}
            <p class="role red">SUPER ADMINISTRATEUR</p>
            {% elseif 'ROLE_ADMIN' in user.getRoles()%}
            <p class="role red">ADMINISTRATEUR</p>
            {% elseif 'ROLE_USER' in user.getRoles() %}
            <p class="role">UTILISATEUR</p>
            {% else %}
            <p class="role">Rôle inconnu</p>
            {% endif %}
        </div>
        <br>
        <hr>
        <div class="user-options">
            <h3>OPTIONS</h3>
            <br><br>
            <a href="{{ path('app_user_show', {'id': user.id}) }}" class="BtnDetails">VOIR DETAIL</a>
            <br><br>
            <a href="{{ path('app_logout') }}" class="logout-button">SE DÉCONNECTER</a>
        </div>
    </div>
</div>
{% endblock %}