{% extends 'base.html.twig' %}

{% block title %}Modifier les informations de
	{{ user.nom }}
	{{user.prenom}}
{% endblock %}

{% block body %}
	<div class="ROW">
		<h1 class="TitlePage">Modifier -
			{{ user.nom }}
			{{user.prenom}}
		</h1>
		<a href="{{ path('app_user_index') }}" class="BtnEmploye a-btn">Retour à la liste</a>
	</div>
	{{ form_start(form) }}
<div class="FormNewEmploye gridCol2">

	<div>
		{{ form_row(form.nom) }}
		{{ form_row(form.prenom) }}
		{{ form_row(form.telephone) }}
	</div>

	<div>
		{{ form_row(form.email) }}
		{{ form_row(form.roles) }}
	</div>

	<button  class="form-btn-add">Mettre à jour</button>

</div>
	{{ form_end(form) }}


{% endblock %}
