{% extends 'base.html.twig' %}

{% block title %}Modifier les informations de
	{{ user.nom }}
	{{user.prenom}}
{% endblock %}

{% block body %}
	<h1>Modifier les informations de
		{{ user.nom }}
		{{user.prenom}}
	</h1>

	{{ form_start(form) }}
	{{ form_row(form.nom) }}
	{{ form_row(form.prenom) }}
	{{ form_row(form.telephone) }}
	{{ form_row(form.email) }}
	{{ form_row(form.roles) }}
	<button class="btn btn-primary">Mettre à jour</button>
	{{ form_end(form) }}

	<a href="{{ path('app_user_index') }}" class="btn btn-link">Retour à la liste</a>
{% endblock %}
