{% extends 'base.html.twig' %}

{% block title %}Listes des utilisateurs
{% endblock %}

{% block body %}
	<div class="ROW">
		<h1 class="TitlePage">Liste des utilisateurs</h1>
		<a class="BtnEmploye" href="{{ path('app_user_new') }}">+ Créer un nouvel utilisateur</a>
	</div>


<table class="table">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Prenom</th>
			<th>Telephone</th>
			<th>Email</th>
			<th>Roles</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td>{{ user.nom }}</td>
			<td>{{ user.prenom }}</td>
			<td>{{ user.telephone }}</td>
			<td>{{ user.email }}</td>
			<td>
				{% if 'ROLE_SUPER_ADMIN' in user.getRoles() %}
				<p class="role">Super Administrateur</p>
				{% elseif 'ROLE_ADMIN' in user.getRoles()%}
				<p class="role">Administrateur</p>
				{% elseif 'ROLE_USER' in user.getRoles() %}
				<p class="role">Utilisateur</p>
				{% else %}
				<p class="role">Rôle inconnu</p>
				{% endif %}
			</td>
			<td>
				<a class="btn-link" href="{{ path('app_user_show', {'id': user.id}) }}"><img class="btnListe" src="../Image/oeil.png"></a>
				<a class="btn-link" href="{{ path('app_super_admin_edit', {'id': user.id}) }}"><img class="btnListe" src="../Image/modif.png"></a>

			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="8">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>



{% endblock %}