{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur
{% endblock %}

{% block body %}

	<div class="ROW">
		<h1 class="TitlePage">Créer un nouvel utilisateur</h1>
		<a href="{{ path('app_user_index') }}" class="BtnEmploye">Retour à la liste</a>
	</div>

	{{ form_start(form) }}

	<div class="FormNewEmploye gridCol2">
		<div>
			{{ form_row(form.nom) }}
			{{ form_row(form.prenom) }}
			{{ form_row(form.telephone) }}
		</div>
		<div>
			{{ form_row(form.email) }}
			{{ form_row(form.plainPassword, {'label': 'Mot de passe'}) }}
			<div class="Col">
				{{ form_row(form.roles, {'label': 'Rôles :'}) }}
			</div>

		</div>
		<button class="BtnSubmit">Créer</button>
	</div>


	{{ form_end(form) }}
{% endblock %}
